{# {% partial "svg-boucle" %} #}
<section class="layout page-header section {{ class or "" }}">
<div class="page-header--content width-prose">
{{ content | md }}
</div>
{% if image %}
{% image src=image, class="page-header--image" %}
{% endif %}
</section>

{% css %}
.page-header {
  container-type: inline-size;
  display: grid;
  align-items: end;
  gap: 1em;
  {# margin-block: var(--step-6); #}
  & > .page-header--content > * {
    {# margin-inline: 0; #}
  }
  & > img {
    aspect-ratio: 3;
  }

  @media (min-width: 65rem) {
    & {
      grid-template-columns: 1fr 1fr;
    }
    & > img {
      aspect-ratio: 1;
      border-radius: var(--radius-card) 0 0 var(--radius-card);
      {# margin-inline-end: calc(-1 * var(--px-body)); #}
    }
  }

}

@container (width < 97vw) {
    .page-header > img {
        border-radius: var(--radius-card);
    }
}
{% endcss %}
