{% set palettes = ['delft-blue', 'copper', 'vermilion', 'orange-peel', 'ylnmn-blue', 'burnt-umber'] %}
{% set currentPalette = palettes[index % palettes.length] %}

<article class="training-card card box flow palette-{{ currentPalette }} palette-low-contrast breakout-clickable">
<h4 class="p">{{ name | safe }}</h4>
{% if metadata.image.src %}
{% image src=metadata.image.src, alt=metadata.image.alt, title=metadata.image.title %}
{% endif %}

<ul role="list" class="">
<li {{tempo | io}}>{{ tempo }}</li>
<li {{duration | io}}>{{ duration }}</li>
<li {{price | io}}>{{ price | safe }}</li>
<li {{place | io}}>{{ place }}</li>
</ul>

<p>
    {% link type="internal", collection="trainings", url=url,   class="clickable button palette-" ~ currentPalette ~ " palette--contrast" %}En savoir plus...{% endlink %}
</p>

</article>
