<!doctype html>
<html lang="{{lang or 'en'}}" class="no-js">

<head>
    {% partial "_html-head-default.md" %} {% getBundle "html", "head" %}
</head>

<body>
    <!-- Navigation -->
    {% partial "_main-nav.md", {}, "njk" %}

    <!-- Content -->
    {% partial "_main-content.md" %}

    <!-- Footer -->
    {% if '_footer.njk' | partialExists %} {% partial '_footer.njk' %} {%
    elif '_footer.md' | partialExists %}
    <footer class="bleed-bg">{% partial '_footer.md' %}</footer>
    {% else %} {% partial '_footer' %} {% endif %}
</body>

</html>