<div class="prose box palette-cooper palette-low-contrast font-bold">
    <form class="flow">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="topic">Sujet</label>
        <input type="text" id="topic" name="topic" required>
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit" class="align-self-start">Envoyer</button>
    </form>
</div>
