:root {
  /* Space indigo */
  /*--color-type: #282640;*/
  /* Dark Walnut */
  /*--color-alt: #521F00;*/
  /* Burnt Peach */
  /*--color-accent: #D77A61;*/
  /* Bone */
  /*--color-neutral: #ECE2D0;*/
}

/* The theme choses how to apply colors */
/* See Theme test for full example */
/*body,
[class*="palette"] {
    --color-text: var(--color-type-theme);
    --color-bg: var(--color-neutral-theme);
    --color-border: var(--color-text);
    --color-text__a--hover: var(--color-type-theme);
}*/
