{% set navPages = collections.all | filterCollection([{ by: 'lang', value:
lang }, { by: 'parent', value: '' }]) | eleventyNavigation %}

{% if navPages | length %}

<header>
    <nav class="flex flex-nowrap gap-[--step-0] flex-justify-between items-start">
    <!-- Main pages navigation -->
    <ul role="list" id="main-nav" class="cluster">
        {% for link in navPages %}
        <li>
        {# prettier-ignore #}
        <a
            href="{{link.url}}"
            hreflang="{{link.lang}}"
            {% if link.url == page.url %}aria-current="page"{% endif %}
            >{{link.title}}</a
        >
        </li>
        {% endfor %}
    </ul>

    <!-- Language navigation -->
    {% if page.url | locale_links | length %}
    <ul role="list" id="lang-nav" class="flex flex-nowrap gap-[--step--2] m0">
        {% for link in page.url | locale_links("all") %}
        <li>
        <a
            href="{{link.url}}"
            hreflang="{{link.lang}}"
            aria-current="{{ 'page' if link.lang === page.lang else 'false' }}"
            ><abbr lang="{{link.lang}}" title="{{link.label}}"
            >{{link.lang | upper}}</abbr></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </nav>

</header>
{% endif %}
